{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<style type="text/css">
		body{
			background: #abcdef;
		}
		h1,h2{
			text-align: center;
		}
		table{
			margin: 0 auto;
		}
		td{
			border: 2px solid #adce45;
		}
		.principal{ 	
			text-align: center;
			background: #ccc;			
			border-radius: 50px;
		}
		#formu{
			background: #decaca;
			width: 345px;
			-webkit-transform: translate(560px,20px);
		}
	</style>
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>